<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" alt="Foto Perfil" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Adrián Antonio Núñez Romero</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias suscipit, similique aliquam vel repellat voluptates officiis adipisci hic tempora molestiae, possimus porro alias sed distinctio, quibusdam quaerat repudiandae sint.</p>
        </span>
    </div>
</div>